.header-menu {
    display: flex;
    background: #e4e8eb;
    padding: 5px 16px;
    gap: 16px;
    align-items: center;

    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.25);
}

.header-menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header-menu ul li a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.header-menu ul li a:hover {
    color: #d81e1f;
}

.header-menu .logo {
    height: 80px;
    width: auto;
    border-radius: 5px;
}

.header-menu #cart-button {
    margin: 0 60px 0 auto ;
    border: 2px solid #d81e1f;
    color: #d81e1f;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border-radius: 16px;
    padding: 10px 12px;
    transition: all .1s ease-in;
}

.header-menu #cart-button:hover {
    cursor: pointer;
    background: #d81e1e25;
}

.card{
    width:250px ;
    
}
.card img{
    width: 250px;
    height: 200px;
}
.info-block{
    background-color:rgb(25, 25, 25);}

.product-container{
    background-color:#e4e8eb;}
.main-content{
    background-color:#e4e8eb;}

.main-content .page-title {
    font-size: 44px;
    text-align: center;
    margin: 55px 0 75px;
}
        