body {
    background:#e4e8eb;
    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
}
h1 {
    color:black
}

.header {
    display: flex;
    padding: 20px 32px;
    background:rgb(25, 25, 25) ;
    justify-content: space-between;
    align-items: center;

    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.25);
}

.header .header-cart {
    background:#e4e8eb;
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 16px;
}

.header .header-logo {
    font-size: 18px;
    font-weight: 700;
    color:rgb(25, 25, 25);
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}

.card {
    background-color:#e4e8eb;
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    transition: all .2s ease-in;
    box-shadow: 3px 5px 26px rgba(0, 0, 0, 0.25);
}

.card:hover {
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin: 15px 0 10px 0;
    font-size: 20px;
}

.card p {
    font-size: 14px;
    color: #000000;
}

.card .footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
}

.card .footer button {
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    background: #d81e1f;
    color: #fff;
}

.card .footer button:hover {
    background: #dd3e3e;
    cursor: pointer;
}

.card .price {
    font-size: 18px;
    color: #e67e22;
    margin-top: 10px;
    font-weight: bold;
}